.el-input__inner {
  box-shadow: none !important
}
.login-container .el-avatar--square {
  background-color: transparent;
}
.avatar-wrapper .el-avatar {
  background-color: transparent;
}
.el-dropdown-menu .el-dropdown-menu__item--divided {
  width: 100%;
  height: 0px;
  
}